body{
    color:white;
    background: rgb(102, 102, 102);
}

header{
    border-bottom: solid 2px #ffffff;
    padding: 20px;
font-size: 32px;
color: hwb(0 100% 0%);
}
section{
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
chamada-texto{
    margin-right: 20px;
}


